.jumbotron {
    background-image: url("../images/nyc-2.jpg");
    background-size: cover;
    text-align: right;
    color: black;
   
}

.carousel-inner img {
    min-width: 60%;
    max-height:20%;
    margin: auto;
}

.item h3 {
    text-align: center; 

}

.img-responsive {
 display: block;

}

.thumbnail {
 max-width: 100%;
 max-height: 100%;
 Padding: 10pt;
 display: inline-block;
}

.caption {
    font-size: 18px;
}

.modal-content {
 padding-top: 10px;
 padding-right: 15px;
 position: relative;
}


#toggle {
 max-width: 100%;
 max-height: 100%;
 Padding: 10pt;
 display: inline-block;
}

#foot {
    margin-top: 10px;
    clear:both;
    
    background-size: cover;
    
    height: auto;
    padding-top:inherit;
    width: 100%;
}
